.editor-styles-wrapper .has-global-padding {
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 90%!important;
}

.editor-styles-wrapper .editor-visual-editor__post-title-wrapper > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 90%!important;
}
